html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
main {
  position: relative;
  top: 500px;
}
.container {
  color: solid black;
  position: relative;
  margin: auto;
  width: 90%;
  transition: all .25s;
}
article:hover {
  opacity: 1;
  box-shadow: 5px 10px;
}
article {
  padding: 15px;
  border: 25px;
  border-color: black;
  opacity: .75;
  margin: 25px auto;
  padding: 10px;
  border: 3px solid grey;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  transition: all .25s;
  word-wrap: break-word;
}
/*name*/
article header{
  padding-bottom: 25px;
  font-weight: 300;
}
/*handle*/
article header span{
  opacity: 0;
  font-weight: 300;
  float: right;
  transition: all .25s;
}
/*shows handle on hover*/
article:hover header span{
  opacity: 1;
}
/*avatar*/
article img {
  height: 2em;
  width: 2em;
}
/*time posted*/
article footer{
  font-size: 18px;
}
/* flag, heart, and retweet */
svg {
  float: right;
  padding: 2px;
}
/* bar */
hr {
  margin-top: 25px;
  border: 0;
  border: 3px solid rgb(90, 90, 90);
  opacity: 1;
  border-radius: 5px;
}
/*class toggle for hiding 'new tweet'*/
.toggle-off {
  top: 400px;
}
/* Mobile */
@media only screen and (max-width: 1024px) {
  .toggle-off {
    top: 350px;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  main {
    top: 150px;
  }
  .container {
    display: inline-block;
    width: 60%;
    float: right;
  }
  .toggle-off {
    top: 0px;
  }
}
