nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
nav span {
  font-family: 'Bungee', sans-serif;

  position: relative;
  top: 20%;
  left: 5%;

  font-size: 36px;
}
.compose {
  position: relative;
  padding: 30px;
  float: right;

}
#toggle-form {
  display: block;
  margin: 15px 35%;
  background:none;
  border:none;
}

.compose:hover #toggle-form {
  animation: move 1s infinite alternate;
}
@keyframes move{
  0%   { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #de9842;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }
}

@media only screen and (max-width: 430px) {
  nav span {
    font-size: 5vw;
  }
  label {
    font-size: 5vw;
  }
  .compose {
    padding-top: 15px;
  }
} 